@import '../../../styles/settings.scss';
.title {
  position: absolute;
  z-index: 99;
  left: 50%;
  top: 20%;
  width: 100%;
  text-align: center;
  font-size: ($base-size * 3);
  text-transform: uppercase;
  color: $color-light;
  transform: translate(-50%,-50%);
}
